.introduction-card {
	.card-title {
		font-size: 20px;
		font-weight: 600;
	}

	.author {
		margin-top: 20px;
		font-size: 16px;
		font-weight: 500;
		line-height: 48px;
	}
	.thumbnail-photos {
		
	}
}