@import 'utils//variables.scss';

.layout-wrap {
  color: $textPrimaryColor;
  background-color: $backgroundColor;
  overflow: hidden;
  white-space: pre-line;

  .description {
    color: $textSecondColor;
  }

  .author {
    color: $textSecondColor;
    font-size: $fontSize_middle;
  }

  .card-title {
    color: $textPrimaryColor;
  }

  >*,
  .ant-card,
  .ant-row .ant-flex,
  .ant-breadcrumb,
  .ant-btn-link,
  .ant-menu,
  button {
    font-family: 'Rubik', 'HelveticaNeue', 'Helvetica Neue', sans-serif;
  }

  .introduce {
    width: 100%;

    &-product,
    &-pattern,
    &-banner {
      &-bg {
        background-size: cover;
        background-position: center center;
      }
    }

    &-banner {
      padding: 0 40px;

      &-bg {
        padding-top: 50%;
      }
    }
  }

  .price-wrap {
    font-size: $fontSize_large;
    font-weight: $fontWeight_medium;
    color: $textPrimaryColor;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Playfair Display", serif;
  }

  .banner-wrap {
    .banner-item {
      &__infor {

        .title {
          font-size: 1rem;
        }

        .content {
          font-size: .75rem;
        }
      }
    }

    .ant-carousel .slick-dots {
      &.dots-custom {
        li {
          button {
            height: 8px;
            width: 8px;
            bottom: 0;
            background: #FFF;
            color: #fff;
            opacity: .8;
          }

          &.slick-active {
            width: 16px;

            button {
              height: 10px;
              width: 10px;
              bottom: 4px;
              background: $colorPrimary
            }
          }
        }
      }
    }
  }
}

// button
:where(.css-dev-only-do-not-override-1g853jt).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: $colorPrimary;
  border-color: $colorPrimary;
}

.content-wrap {
  padding: 40px 0;
}

.actions-links {
  text-align: center;
  background: #fff;
  box-shadow: 1px 1px 1px #0000001a;
  padding: 10px 0;
  border-radius: 3px;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
}

.card-title {
  cursor: pointer;
}

.ant-card {
  .ant-card-cover {
    &:hover {
      .ant-image {
        img {
          transform: scale(1.1);
        }
      }
    }

    .ant-image {
      overflow: hidden;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      img {
        transform: scale(1);
        transition: all 0.7s ease 0s;
        -webkit-transition: all 0.7s ease 0s;
      }
    }
  }
}

.container {
  padding: 30px;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.rote-180 {
  transform: rotate(180deg);
}

.ant-input-search {

  .ant-input-affix-wrapper,
  .ant-input-group-addon .ant-input-search-button {
    height: 44px;
  }
}

.blog-page {
  .search-wrap {
    margin-bottom: 30px;
  }
}

.contact-page,
.about-page {
  padding: 20px;
  background-color: #fee6e6;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);

  .content-title {
    color: $textPrimaryColor;
  }

  .content-text {
    font-size: 1.4em;
    font-family: "Rubik", "HelveticaNeue", "Helvetica Neue", sans-serif;
  }

  .ant-image {
    box-shadow: 0 10px 10px 0px $colorPrimary;
  }
}

@media screen and (min-width: $xs) {

  .layout-wrap {

    .contact-page,
    .about-page {
      padding: 30px;
    }

    .banner-wrap {
      .banner-item {

        &__infor {
          .title {
            font-size: 1.5rem;
          }

          .content {
            font-size: 1rem;
          }

          .btn-view {
            padding: 0 30px;
            height: 44px;
          }
        }
      }

      .ant-carousel .slick-dots {
        &.dots-custom {
          li {
            height: 12px;

            button {
              height: 10px;
              width: 10px;
              bottom: 0;
            }

            &.slick-active {
              width: 16px;

              button {
                height: 12px;
                width: 12px;
                bottom: 6px;
              }
            }
          }
        }
      }
    }
  }

  .header-part {
    &.responsive {
      padding-bottom: 40px;

      .header-divider {
        margin: 70px 0;
      }
    }
  }
}

@media screen and (min-width: $md) {
  .container {
    padding: 50px;
  }

  .tabs-menu {
    .ant-menu-item {
      font-size: $fontSize_middle;
    }
  }

  .layout-wrap {

    .contact-page,
    .about-page {
      padding: 30px;

      .content-title {
        font-size: 2.5em;
      }
    }

    .banner-wrap {
      .banner-item {
        &__infor {

          .title {
            font-size: 2rem;
          }

          .content {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .header-part {
    &.responsive {

      .header-divider {
        margin: 80px 0;
      }
    }
  }
}

@media screen and (min-width: $lg) {
  .container {
    padding: 80px 100px;
  }

  .layout-wrap {

    .contact-page,
    .about-page {
      padding: 40px;
    }
  }
}

@media screen and (min-width: $screen_1024) {
  .layout-wrap {
    .banner-wrap {
      .banner-item {
        height: calc(100vh - 194px);
      }

      .ant-carousel .slick-dots {
        &.dots-custom {
          li {
            height: 15px;
            width: 24px;

            button {
              height: 15px;
              width: 15px;
              bottom: 0;
            }

            &.slick-active {
              width: 24px;

              button {
                height: 18px;
                width: 18px;
                bottom: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $xl) {
  .container {
    padding: 80px 100px;
  }

  .layout-wrap {

    .contact-page,
    .about-page {
      padding: 50px;
    }

    .banner-wrap {
      .banner-item {

        &__infor {

          .title {
            font-size: 3rem;
          }

          .content {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .header-part {
    &.responsive {

      .header-divider {
        margin: 100px 0;
      }
    }
  }
}

// responsive
@media screen and (min-width: $xxl) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }

  .tabs-menu {
    .ant-menu-item {
      font-size: $fontSize_large;
    }
  }
}

.disable-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


@keyframes moveText {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.slick-list {
  .slick-slide {

    .banner-item__infor {
      transition: all .7s ease 0s;
      -webkit-transition: all .7s ease 0s;
    }

    &.slick-active {
      .banner-item__infor {
        animation: moveText 1s forwards;
      }
    }
  }
}

@mixin keyframes($name, $transformFrom, $transformTo) {
  @keyframes #{$name} {
    from {
      transform: $transformFrom;
      opacity: 0;
    }

    to {
      transform: $transformTo;
      opacity: 1;
    }
  }
}

.scroll-animate {
  .animation-wrap {

    .img-about,
    .title,
    .content-title,
    .description {
      transition: all .7s ease 0s;
      -webkit-transition: all .7s ease 0s;
      opacity: 0;
    }

    .content-title,
    .title {
      transform: translateY(70px);
    }

    .description {
      transform: translateY(100px);
    }
  }

  &.scrolling {
    .animation-wrap {

      .content-title,
      .title,
      .description {
        transform: translateY(0);
        opacity: 1;
      }

      .img-about {
        animation: moveText 1s forwards;
      }
    }

    // .card-item {
    //   transform: translateY(0);
    //   opacity: 1;
    //   // @include keyframes('cardScroll', translateY(100px), translateY(0));
    // }

    .form-contact {
      transform: translateY(0);
      opacity: 1;
    }
  }

  // .card-item {
  //   transform: translateY(100px);
  //   opacity: 0;
  //   transition: all .5s;
  // }

}