@import './../../utils//variables.scss';

.layout-wrap {
  color: $textPrimaryColor;
  background-color: $backgroundColor;
  overflow: hidden;

  .description {
    color: $textSecondColor;
  }

  .author {
    color: $textSecondColor;
    font-size: $fontSize_middle;
  }

  .card-title {
    color: $textPrimaryColor;
  }

  >*,
  .ant-card,
  .ant-row .ant-flex,
  .ant-breadcrumb,
  .ant-btn-link,
  .ant-menu,
  button {
    font-family: 'Rubik', 'HelveticaNeue', 'Helvetica Neue', sans-serif;
  }

  .introduce {
    width: 100%;

    &-product,
    &-pattern,
    &-banner {
      &-bg {
        background-size: cover;
        background-position: center center;
      }
    }

    &-banner {
      padding: 0 40px;

      &-bg {
        padding-top: 50%;
      }
    }
  }

  .price-wrap {
    font-size: $fontSize_large;
    font-weight: $fontWeight_medium;
    color: $textPrimaryColor;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Playfair Display", serif;
  }
}

// button
:where(.css-dev-only-do-not-override-1g853jt).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: $colorPrimary;
  border-color: $colorPrimary;
}

.content-wrap {
  padding: 40px 0;
}

.actions-links {
  text-align: center;
  background: #fff;
  box-shadow: 1px 1px 1px #0000001a;
  padding: 10px 0;
  border-radius: 3px;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
}

.card-title {
  cursor: pointer;
}

.ant-card {
  .ant-card-cover {
    &:hover {
      .ant-image {
        img {
          transform: scale(1.1);
        }
      }
    }

    .ant-image {
      overflow: hidden;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      img {
        transform: scale(1);
        transition: all 0.7s ease 0s;
        -webkit-transition: all 0.7s ease 0s;
      }
    }
  }
}

.container {
  padding: 30px;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.rote-180 {
  transform: rotate(180deg);
}

.ant-input-search {

  .ant-input-affix-wrapper,
  .ant-input-group-addon .ant-input-search-button {
    height: 44px;
  }
}

.banner-wrap {
  .banner-item {
    position: relative;
    height: calc(100vh - 204px);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &__infor {
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      text-align: center;

      .text {
        font-size: 3rem;
        color: #fff;
      }

      // button {
      //   height: 44px;
      //   padding: 0 30px;
      //   text-transform: uppercase;
      // }
    }
  }
}

@media screen and (min-width: $md) {
  .container {
    padding: 50px;
  }

  .tabs-menu {
    .ant-menu-item {
      font-size: $fontSize_middle;
    }
  }
}

@media screen and (min-width: $xl) {
  .container {
    padding: 80px 100px;
  }
}

// responsive
@media screen and (min-width: $xxl) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }

  .tabs-menu {
    .ant-menu-item {
      font-size: $fontSize_large;
    }
  }
}
