@import './../../utils//variables.scss';

.header-part {
	padding-bottom: 80px;
	margin-top: 100px;

	.header-divider {
		margin: 40px 0;
		border-color: $borderColor;
	}

	.header-title {

		.title {
			font-size: 30px;
			margin: 0 0 13px;
			font-weight: 700;
			text-transform: capitalize;
			font-family: 'Playfair Display', serif;
		}

		.description {
			font-family: 'Rubik','HelveticaNeue','Helvetica Neue',sans-serif;
			line-height: 36px;
			font-weight: 300;
		}
	}
}