.setting-page {
	.banner-type-wrapper {
		position: relative;

		.banner-type__create {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.banner-item__preview {
		img {
			height: 200px;
		}

		button {
			padding: 0 5px;
			height: 34px;
		}
	}
}