@import 'utils/variables.scss';

.banner-item {
	position: relative;

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__infor {
		position: absolute;
		bottom: 25%;
		right: 10%;
		transform: scale(0.5);
		text-align: center;

		.title {
			color: #fff;
			margin-bottom: 0;
		}

		.content {
			color: #fff;
			font-family: "Rubik", "HelveticaNeue", "Helvetica Neue", sans-serif;
			font-weight: $fontWeight_normal;
			margin: 5px auto;
			max-width: 55%;
		}

		.btn-view {
			font-family: "Rubik", "HelveticaNeue", "Helvetica Neue", sans-serif;
			text-transform: uppercase;
			padding: 0 5px;
			height: 30px;
			border-radius: 0;
		}
	}
}

@keyframes moveText {
	from {
		transform: scale(0.5);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

.slick-list {
	.slick-slide {

		&.slick-active {
			.banner-item__infor {
				animation: moveText 1s forwards;
			}
		}
	}
}