@import 'utils//variables.scss';

.footer-wrap {
	padding-top: 60px;

	.footer-link {
		color: $textSecondColor;
		font-size: 16px;

		&:hover {
			text-decoration: underline;
			color: $textPrimaryColor;
		}
	}

	.actived {
		.footer-link {
			color: $colorPrimary;
			text-decoration: underline;

			&:hover {
				color: $colorPrimary;
			}
		}
	}

	.footer-logo {
		max-width: 300px;
		margin-bottom: 80px;
	}

	.footer-link-wrap {
		width: 80%;
	}

	.copyright-wrap {
		border-top: 1px solid $borderColor;
		margin-top: 80px;
	}
}