@import './../../utils//variables.scss';

.footer-wrap {
	padding-top: 60px;
	.footer-link {
		color: $textSecondColor;
		font-size: 16px;

		&:hover {
			text-decoration: underline;
			color: $textPrimaryColor;
		}
	}

	.footer-logo{
		max-width: 300px;
		margin-bottom: 80px;
	}

	.copyright {
		padding: 30px 0;
		margin: 80px 0 0;
		border-top: 1px solid $borderColor;
	}
}