.custom-AdSlot{
    margin-top: 16px;
    height: 250px;
    width: 100%;
    display: block;
    border: solid; //Remove in Production
}

@media (min-width: 1280px) {
    .custom-AdSlot{
        display: none !important;
    }
}

@media (max-width: 1000px) {
    .custom-AdSlot{
        width: 100%;
        height: 90px;
    }
}

@media (max-width: 750px) {
    .custom-AdSlot{
        width: 100%;
        height: 280px;
    }
}