@import 'utils/variables.scss';

.table-title {
  font-size: 26px;
  font-weight: 700;
  color: $textPrimaryColor;
}

.dashboard-wrap {
  .logo-sidebar {
    img {
      height: 75px;
    }
  }

  .ant-menu {
    border: 0;
  }
}

.form-wrap {
  padding: 40px 0;
}

.btn-form {
  min-width: 120px;
  height: 44px;
}

.ant-form-item {

  .ant-form-item-control {

    input.ant-input,
    .ant-select {
      height: 44px;
    }

    .ant-switch {
      height: 44px;
      width: 90px;

      .ant-switch-handle {
        top: 5px;
        height: 34px;
        width: 34px;

        &::before {
          border-radius: 50%;
        }
      }

      &.ant-switch-checked {
        .ant-switch-handle {
          inset-inline-start: calc(100% - 36px);
        }
      }
    }

    .ant-input-number {
      height: 44px;
      width: 100%;
    }
  }

  .ant-form-item-label {
    label {
      font-size: 16px;
      color: $textPrimaryColor;
      font-family: "Rubik", "HelveticaNeue", "Helvetica Neue", sans-serif;
    }
  }
}

.img-crop-control {
  .ant-slider-track{
    background-color: $colorPrimary;
  }
}