@import 'utils/variables.scss';

.table-title {
    font-size: 26px;
    font-weight: 700;
    color: $textPrimaryColor;
}

.dashboard-wrap {
    .logo-sidebar {
      img {
        height: 75px;
      }
    }
    .ant-menu {
      border: 0;
    }
  }

.form-wrap {
  padding: 40px 0;
}

.btn-form {
  min-width: 120px;
  height: 44px;
}